@import url(TeamSpeak.css);
@import url(Glassmorphism.css);

:root, ::after, ::before {
  /* Dark Green theme accents */
  --custom-color-accent-light: #0B8457; /* jungle green */
  --custom-color-accent-dark: #05623F;  /* deep dark green */
  --custom-color-accent-light-t: rgba(11, 132, 87, 0.5);
  --custom-color-accent-dark-t: rgba(5, 98, 63, 0.5);
  --custom-color-slider1: #0B8457;
  --custom-color-slider2: #16A875;
}
