@import url(TeamSpeak.css);
@import url(Glassmorphism.css);

:root, ::after, ::before {
    --custom-color-accent-light: #0A84FF;
    --custom-color-accent-dark: #0066FF;
    --custom-color-accent-light-t: rgba(10, 132, 255, 0.5);
    --custom-color-accent-dark-t: rgba(0, 102, 255, 0.5);
    --custom-color-slider1: #0A84FF;
    --custom-color-slider2: #64D2FF;
}