@import url(TeamSpeak.css);
@import url(Glassmorphism.css);

:root,
::after,
::before {
     --custom-color-accent-light: #00C8FF;
     --custom-color-accent-dark: #0095C7;
     --custom-color-accent-light-t: rgba(0, 200, 255, 0.5);
     --custom-color-accent-dark-t: rgba(0, 149, 199, 0.5);
     --custom-color-slider1: #00C8FF;
     --custom-color-slider2: #4BE3FF;
}

