@import url(TeamSpeak.css);
@import url(Glassmorphism.css);

:root, ::after, ::before {
  --custom-color-accent-light: #D97A18;
  --custom-color-accent-dark: #AA5205;
  --custom-color-accent-light-t: rgba(217, 122, 24, 0.5);
  --custom-color-accent-dark-t: rgba(170, 82, 5, 0.5);
  --custom-color-slider1: #D97A18;
  --custom-color-slider2: #E5A24E;
}