@import url(TeamSpeak.css);
@import url(Glassmorphism.css);

:root,
::after,
::before {
     --custom-color-accent-light: #1ABC9C;
     --custom-color-accent-dark: #108C72;
     --custom-color-accent-light-t: rgba(26, 188, 156, 0.5);
     --custom-color-accent-dark-t: rgba(16, 140, 114, 0.5);
     --custom-color-slider1: #1ABC9C;
     --custom-color-slider2: #4DDDC0;
    
}

